.aboutme {
  width: 70vw;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 15%;
}
.aboutme > p {
  font-weight: bold;
  font-size: 30px;
  color: var(--cornsilk);
  margin-bottom: 80px;
  margin-top: -50px;
  line-height: 1.1;
  text-align: left;
}
.aboutme > p > a {
  color: var(--rose);
  transition: background 0.3s ease-in;
  text-decoration: none;
}
.aboutme > p > a:hover {
  background-color: var(--cornsilk);
}
@media (max-width: 900px) {
  .aboutme {
    margin-top: 0;
    margin-bottom: 10em;
  }
  .aboutme > p {
    margin: auto;
    margin-top: 0;
    font-size: 18px;
  }
}
