.aboutme {
  width: 70vw;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 35%;
  position: relative;
}

.textAboutme {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--cornsilk);
  margin-top: -5vh;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 20%;
  font-weight: 100;
}
.containerText {
  position: relative;
  z-index: 1;
}
.containerText:nth-of-type(n + 2) {
  margin-left: 15vw;
}

.textAboutme > a {
  color: var(--rose);
  transition: background 0.3s ease-in;
  text-decoration: none;
}
.textAboutme > a:hover {
  background-color: var(--cornsilk);
}
.aboutmeSection {
  position: relative;
}
.colorBorder {
  border: 1.5px solid #444a52 !important;
  position: absolute;
  left: 10%;
  height: 90%;
  top: 13vw;
}
.colorBorderBottom {
  border-radius: 0 0 0 5px;
  border-left: 3px solid #444a52 !important;
  border-bottom: 3px solid #444a52 !important;
  position: absolute;
  left: calc(50% - 318px);
  height: 11%;
  width: 31.5%;
  bottom: -10em;
}
.colorBorderfinal {
  border-right: 3px solid #444a52 !important;
  border-top: 3px solid #444a52 !important;
  width: 10px;
  border-radius: 0 5px 0 0;
  position: absolute;
  right: -9px;
  height: 50px;
  bottom: -50px;
}
.glow-on-hover-about {
  width: 31.5%;
  height: 21%;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  bottom: -10em;
  left: calc(10% + 5px);
  z-index: 0;
  border-radius: 0 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(10px);
}
.glow-on-hover-about:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 5px;
  left: -3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 11px);
  will-change: transform;
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0 0 0 5px;
}

.glow-on-hover-about:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 105%;
  height: 108%;
  background: var(--purpledark);
  left: -2px;
  bottom: -15px;
  border-radius: 0 0 0 5px;
}
.glow-on-hover-about[data="light"]:after {
  background: var(--cornsilk);
}
.colorBorderfinal {
  border-right: 3px solid #444a52 !important;
  border-top: 3px solid #444a52 !important;
  width: 10px;
  border-radius: 0 5px 0 0;
  position: absolute;
  right: -9px;
  height: 50px;
  bottom: -50px;
}

.loading {
  z-index: 1;
  width: 15px;
  height: 22px;
  position: absolute;
  left: calc(10% - 6px);
  background-color: var(--purpledark);
}
.loadingBlack {
  background-color: var(--cornsilk);
}
.loading svg {
  width: 15px;
  height: 15px;
  fill: #444a52;
  vertical-align: middle;
}
.logoAboutme {
  z-index: 1;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  left: calc(10% + 20px);
  transform: translateY(-2px);
  background: var(--cornsilk);
}
.logoAboutme img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.holberton {
  display: flex;
  position: relative;
  gap: 10px;
  margin-left: 14vw;
  margin-bottom: 20vh;
}
.holberton div {
  width: 200px;
  margin: 10px;
  height: auto;
  border-radius: 10px;
  background: var(--purpledark);

  box-shadow:
    12px 12px 22px #0f0f17,
    -12px -12px 22px #232335;
}
.holbertonBlack div {
  background: var(--cornsilk);
  box-shadow:
    12px 12px 57px #948f7c,
    -12px -12px 57px #ffffff;
}
.holberton div:hover {
  animation: heartbeat 0.5s 1;
}
.holberton div img {
  width: 100px;
  margin-top: 20px;
}
.juggle {
  width: 150%;
  margin: auto;
  transform: translateX(-20%);
  margin-bottom: 20%;
}
.juggle img {
  width: 100%;
}
.me {
  width: 100%;
  margin: auto;
  margin-bottom: 15%;
  transform: translateX(0);
  z-index: 1;
  position: inherit;
}
.me img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 9px 15px 5px rgba(0, 0, 0, 0.4);
}
@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
@media (max-width: 900px) {
  .aboutme {
    margin-top: 0;
    margin-bottom: 10em;
  }
  .textAboutme {
    margin: auto;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10vw;
  }
  .containerText:nth-of-type(n + 2) {
    margin-left: 20vw;
  }
  .colorBorder {
    left: calc(8%);
    top: 6em;
  }
  .glow-on-hover-about {
    left: calc(10%);
    margin-bottom: 25vw;
    height: 21%;
  }
  .holberton {
    flex-direction: column;
    margin-bottom: 20vw;
    margin-left: 20vw;
  }
  .holberton div {
    width: 170px;
  }
  .loading {
    left: 6%;
  }
  .logoAboutme {
    left: 15%;
  }
}
