.aboutme {
    width: 70vw;
    margin: auto;
margin-top: 20%;
margin-bottom: 15%;
}
.aboutme > p{
    font-weight: bold;
    font-size: 35px;
    color: var(--cornsilk);
    margin-bottom: 80px;
    margin-top: -50px;
    line-height: 1.1;
}