.biosection {

    width: 60vw;
    margin: auto;
}
.biosection > div {
    position: relative;
}
.biophoto {
    border-radius: 25px;
    width: 60vw;
    transform: rotate(-2deg) translateY(-90px) ;
}
.biosection > p {
font-size: 40px;
color: #ebe2d0;
margin-bottom: 80px;
}
.wouyyan {
    background-color: rgba(255,43,89);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 40px;
    left: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 12s linear infinite;
}
.wouyyan p {
    font-size: 40px;
    font-weight: bolder;
}
@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}