.biosection {
    width: 70vw;
    margin: auto;
}
.biosection > div {
    position: relative;
}
.biophoto {
    border-radius: 25px;
    width: 70vw;
    transform: rotate(-4deg) translateY(-135px) ;
}
.biosection > p {
    font-weight: bold;
font-size: 35px;
color: var(--eggshell);
margin-bottom: 80px;
margin-top: -50px;
line-height: 1.1;
}
@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}