/* Couleurs */
:root {
    --dark-blue: #222;
    --green: #90feb5;
    --action-color: var(--green);
  }
  
  /* Réinitialisation des styles */
  * {
    box-sizing: border-box;
  }
  
  /* Animation pour la rotation des couleurs */
  div {
    display: block;
    height: 100%;
    animation: hue-rotate 10s linear infinite;
  }
  
  /* Styles de base du bouton */
  .button {
    -webkit-font-smoothing: antialiased;
    background-color: var(--dark-blue);
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
  }
  
  .button:hover {
    background-color: var(--action-color);
    color: #fff
  }  