/* Styles pour la popup */
.popup-container {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Arrière-plan semi-transparent noir */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.popup-content {
  /* position: absolute; */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: initial;
  z-index: 12;
}

/* Styles pour la liste d'images */
.image-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-list img {
  cursor: pointer;
  max-width: 200px;
  transition: transform 0.2s;
}

.image-list img:hover {
  transform: scale(1.1);
}
