/* Styles pour la popup */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.popup-content {
  background-color: var(--purpledark);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 12;
  cursor: initial;
}
.image {
  width: 100%;
}
.lecteur {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.lecteur div {
  color: black;
  cursor: pointer;
}
.playerIcon {
  width: 50px;
}
