.projetsection {
  color: var(--eggshell);
  height: 100%;
  /* margin :  50px; */
}
.caroussel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
  background-color: var(--yellow);
}
.projetsection h2 {
  font-size: 8vw;
  display: block;
  width: 100%;
}
input[type="radio"] {
  display: none;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.cardProjet {
  position: absolute;
  width: 680px;
  height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.carousselContainer {
  width: 100%;
  max-width: 850px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #projet-4,
#item-2:checked ~ .cards #projet-1,
#item-3:checked ~ .cards #projet-2,
#item-4:checked ~ .cards #projet-3 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #projet-2,
#item-2:checked ~ .cards #projet-3,
#item-3:checked ~ .cards #projet-4,
#item-4:checked ~ .cards #projet-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #projet-1,
#item-2:checked ~ .cards #projet-2,
#item-3:checked ~ .cards #projet-3,
#item-4:checked ~ .cards #projet-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
label > img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
.player {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  min-width: 270px;
  padding: 16px 10px;
  margin: auto;
  margin-top: 20em;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  height: 46px;
  overflow: hidden;
}
.voirplusbtn {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: 20px;
}
.voirplusbtn p {
  color: var(--matteblack);
  font-size: 12px;
}
.projet-info {
  width: calc(100% - 32px);
  display: block;
}

.projet-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.subtitle,
.time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}
#item-4:checked ~ .player #test {
  transform: translateY(-120px); /* Ajout de la règle pour #item-4 */
}

@media (max-width: 900px) {
  .cardProjet {
    width: 240px;
    height: 120px;
    border-radius: 0;
  }
  img {
    border-radius: 0;
  }

  #item-1:checked ~ .cards #projet-4,
  #item-2:checked ~ .cards #projet-1,
  #item-3:checked ~ .cards #projet-2,
  #item-4:checked ~ .cards #projet-3 {
    transform: translatex(-40%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
  }

  #item-1:checked ~ .cards #projet-2,
  #item-2:checked ~ .cards #projet-3,
  #item-3:checked ~ .cards #projet-4,
  #item-4:checked ~ .cards #projet-1 {
    transform: translatex(40%) scale(0.5);
    opacity: 0.4;
    z-index: 0;
  }
}
