.tapeContainer {
    margin-top: 20vh;
    margin-bottom: 20vh;
    /* background-color: var(--eggshell); */
    /* width: 100%; */
    position: relative;
    overflow-x: hidden;
    
}
.tape {
    display:flex;
    white-space: nowrap;
    align-items: center;
    will-change:transform;
    animation: tickerAnimation 25s linear infinite;

}
/* .tape p {
    text-align: right;
    font-size: 35px;
    font-family: arcade classic;
    margin: 5px;
} */
.tape p {
    text-align: right;
    font-size: 55px;
    font-size: bolder;
    margin: 5px;
    color: rgba(225,225,225,0.7)
}
.tape span {
  padding-left: 10px;
  padding-right: 10px;
}
.logo {
    width: 50px;
    height: 50px;
}
@keyframes tickerAnimation {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}