* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--purpledark);
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
  font-family: "Albert Sans";
  overflow: hidden;
}
.nightrevealContainer {
  width: 100%;
  height: 100%;
}
.nightreveal {
  background-color: var(--cornsilk);
  width: 0%;
  height: 20.1vh;
  right: 0;
  position: absolute;
  animation-name: width;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  will-change: transform;
}
.nightreveal:nth-child(2) {
  top: 20vh;
  animation-duration: 2.8s;
}
.nightreveal:nth-child(3) {
  top: 40vh;
  animation-duration: 3.1s;
}
.nightreveal:nth-child(4) {
  top: 60vh;
  animation-duration: 3.5s;
}
.nightreveal:nth-child(5) {
  top: 80vh;
  animation-duration: 3.8s;
}
.disappeard {
  display: none;
}
.appear {
  display: block;
}

@keyframes changecolor {
  0%,
  50% {
    background-color: var(--cornsilk);
  }
  100% {
    background-color: var(--purpledark);
  }
}
@keyframes width {
  0%,
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.day-mode {
  color: var(--purpledark);
  background-color: var(--cornsilk);
}
.day-mode a,
.day-mode p,
.day-mode-no-bg a,
.day-mode-no-bg p {
  color: var(--purpledark) !important;
}
.night-mode {
  color: white;
  background-color: var(--purpledark);
}
@font-face {
  font-family: "fake receipt";
  src: url("./fonts/fake_receipt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "arcade classic";
  src: url("./fonts/ARCADECLASSIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kabel";
  src: url("./fonts/Kabel_Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

:root {
  --rose: #fa2a58;
  --eggshell: #f6f8ff;
  --purpledark: #191926;
  /*LIGHT MODE*/
  --cornsilk: #faf3d3;
  --matteblack: #353935;
  /* --yellow:#FF1654; */
  /* --yellow:#2a9d8f; */
  /* --yellow:#f7e840f7; */
}
.backgroundAnimation {
  width: 100%;
  height: 100%;
  background-color: var(--purpledark);
  position: absolute;
  top: 0;
  z-index: 5;
}
.ease-in-out {
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: opacity;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin: auto;
  /* position: absolute;
  top: -9px;
  left: -13px; */
}
@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.slide-in {
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: transform;
  animation-name: slidein;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes slidein {
  0%,
  75% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-top {
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: transform;
  animation-name: slideintop;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes slideintop {
  0%,
  75% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
.active,
.activeLeft {
  opacity: 0;
}
.opacity {
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: transform;
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes opacity {
  0% {
    /* transform: translateX(50%); */
    opacity: 0;
  }

  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}
.slide-in-left {
  will-change: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  transition-property: transform;
  animation-name: slideinleft;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes slideinleft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
.hiddenOpacity {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease-in-out;
}
.hiddenTranslate {
  opacity: 0;

  transform: translateX(-2%);
  transition: all 1s ease-in-out;
}

.slideX-left {
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: 0.1s;
  transform: translateX(-15px);
}
.slideX-left:nth-child(2) {
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: 0.2s;
}
.slideX-left:nth-child(3) {
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  transition-delay: 0.4s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
