body {
  background-color: var(--purpledark);
}
body::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
  font-family: "Albert Sans";
}
.day-mode {
color:var(--matteblack);
background-color: var(--cornsilk);
}
.day-mode a, .day-mode p {
  color:var(--matteblack) !important
}
.night-mode{
color:white;
background-color: var(--purpledark);
}
@font-face {
  font-family: 'fake receipt';
  src: url('./fonts/fake_receipt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arcade classic';
  src: url('./fonts/ARCADECLASSIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kabel';
  src: url('./fonts/Kabel_Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

:root {
  --rose: #fa2a58;
  --eggshell :#F6F8FF;
  --purpledark:#191926;
  /*LIGHT MODE*/
  --cornsilk:#FAF3D3;
  --matteblack:	#353935;
  /* --yellow:#FF1654; */
  /* --yellow:#2a9d8f; */
  /* --yellow:#f7e840f7; */

}
.backgroundAnimation {
  width: 100%;
  height: 100%;
  background-color: var(--purpledark);
  position: absolute;
  top:0;
  z-index: 5;
}
.ease-in-out {
  will-change:transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-property: opacity;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin: auto;
  /* position: absolute;
  top: -9px;
  left: -13px; */
}
@keyframes opacity {
  0%{ opacity:  0; }

  100% { opacity:  1; }
}
.slide-in {
  will-change:transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-property: transform;
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes slidein {
  0% { transform:  translateY(100%); 
  opacity: 0;
  }

  100% { transform:  translateY(0);   opacity: 1; }
}
.slide-in-top {
  will-change:transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-property: transform;
  animation-name: slideintop;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
@keyframes slideintop {
  0%{ transform:  translateY(-100%); }

  100% { transform:  translateY(0);  }
}
.active, .activeLeft {
  opacity: 0;
}
.slide-in-right {
  will-change:transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-property: transform;
  animation-name: slideinright;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes slideinright {
  0% { transform:  translateX(50%); 
  opacity: 0;
  }

  100% { transform:  translateX(0);   opacity: 1; }
}
.slide-in-left {
  will-change:transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
  transition-property: transform;
  animation-name: slideinleft;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes slideinleft {
  0% { transform:  translateX(-50%); 
  opacity: 0;
  }

  100% { transform:  translateX(0);   opacity: 1; }
}